[submodule "Wizzard/lib/spdlog"]
	path = Wizzard/lib/spdlog
	url = https://github.com/BridgetACasey/spdlog.git
[submodule "Wizzard/lib/glfw"]
	path = Wizzard/lib/glfw
	url = https://github.com/BridgetACasey/glfw.git
[submodule "Wizzard/lib/imgui"]
	path = Wizzard/lib/imgui
	url = https://github.com/BridgetACasey/imgui.git
[submodule "Wizzard/lib/glm"]
	path = Wizzard/lib/glm
	url = https://github.com/BridgetACasey/glm.git
