[submodule "Wizzard/lib/spdlog"]
	path = Wizzard/lib/spdlog
	url = https://github.com/BridgetACasey/spdlog.git
[submodule "Wizzard/lib/glfw"]
	path = Wizzard/lib/glfw
	url = https://github.com/BridgetACasey/glfw.git
[submodule "Wizzard/lib/imgui"]
	path = Wizzard/lib/imgui
	url = https://github.com/BridgetACasey/imgui.git
[submodule "Wizzard/lib/glm"]
	path = Wizzard/lib/glm
	url = https://github.com/BridgetACasey/glm.git
[submodule "Wizzard/lib/tolk"]
	path = Wizzard/lib/tolk
	url = https://github.com/BridgetACasey/tolk.git
[submodule "Wizzard/lib/box2d"]
	path = Wizzard/lib/box2d
	url = https://github.com/BridgetACasey/box2d.git
[submodule "Wizzard/lib/openal-soft"]
	path = Wizzard/lib/openal-soft
	url = https://github.com/BridgetACasey/openal-soft.git
